shallow_clone: true

os:
  - Visual Studio 2015

environment:
  matrix:
    - TOOLSET: vs2015
#  - TOOLSET: vs2017

configuration:
    - Debug
    - Release
    - Retail

install:
    - set QTDIR_VS2015_x64=C:\Qt\5.7\msvc2015_64
    - set QTDIR_VS2015_x86=C:\Qt\5.7\msvc2015
    - set PATH=C:\projects\luaforwindows\files;%QTDIR_VS2015_x64%\bin;%PATH%
    - git clone --depth 1 https://github.com/milostosic/build   ..\build
    - git clone --depth 1 https://github.com/milostosic/rbase   ..\rbase
    - git clone --depth 1 https://github.com/milostosic/rdebug  ..\rdebug
    - git clone --depth 1 https://github.com/milostosic/rmem    ..\rmem
    - git clone --depth 1 https://github.com/milostosic/rqt     ..\rqt
    - git clone --depth 1 https://github.com/milostosic/DIA     ..\DIA
    - git clone --depth 1 https://github.com/milostosic/luaforwindows ..\luaforwindows
    - ..\build\tools\windows\genie --file=genie\genie.lua %TOOLSET%

build:
  project: ../.build/windows/$(TOOLSET)/MTuner/projects/MTuner.sln
