[submodule "build"]
	path = build
	url = https://github.com/RudjiGames/build.git
[submodule "src/libs/rbase"]
	path = src/libs/rbase
	url = https://github.com/RudjiGames/rbase.git
[submodule "src/libs/rmem"]
	path = src/libs/rmem
	url = https://github.com/RudjiGames/rmem.git
[submodule "src/libs/rqt"]
	path = src/libs/rqt
	url = https://github.com/RudjiGames/rqt.git
[submodule "src/tools/cmdline/MTunerCmd"]
	path = src/tools/cmdline/MTunerCmd
	url = https://github.com/RudjiGames/MTunerCmd.git
[submodule "src/tools/cmdline/MTunerInject"]
	path = src/tools/cmdline/MTunerInject
	url = https://github.com/RudjiGames/MTunerInject.git
[submodule "src/tools/cmdline/MTunerDLL"]
	path = src/tools/cmdline/MTunerDLL
	url = https://github.com/RudjiGames/MTunerDLL.git
[submodule "src/libs/rdebug"]
	path = src/libs/rdebug
	url = https://github.com/RudjiGames/rdebug.git
[submodule "3rd/DIA"]
	path = 3rd/DIA
	url = https://github.com/RudjiGames/DIA.git
