[submodule "3rd/DIA"]
	path = 3rd/DIA
	url = https://github.com/RudjiGames/DIA.git
[submodule "3rd/unordered_dense"]
	path = 3rd/unordered_dense
	url = https://github.com/martinus/unordered_dense.git
[submodule "src/tools/MTunerCmd"]
	path = src/tools/MTunerCmd
	url = https://github.com/RudjiGames/MTunerCmd
[submodule "src/tools/MTunerDLL"]
	path = src/tools/MTunerDLL
	url = https://github.com/RudjiGames/MTunerDLL
[submodule "src/tools/MTunerInject"]
	path = src/tools/MTunerInject
	url = https://github.com/RudjiGames/MTunerInject
[submodule "zidar"]
	path = zidar
	url = https://github.com/RudjiGames/zidar
